/* Start Header */
header {
  background-color: var(--color-accent);
  /* box-shadow: 0px 8px 8px var(--color-shadow); */
  padding-top: 8px;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .container .logo + p {
  color: var(--color-text-light);
  font-size: 18px;
  font-style: italic;
  font-weight: bold;
}
header .icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
header .icons > * {
  cursor: pointer;
  color: var(--color-text-light);
}
header .icons .mood {
  color: var(--color-mood-btn);
}
header .icons .cart-icon {
  position: relative;
}
header .icons .cart-icon span {
  position: absolute;
  color: var(--color-text-light);
  background-color: #f00;
  top: -7px;
  right: -5px;
  height: 14px;
  width: 14px;
  border-radius: 50%;
  font-size: 10px;
  text-align: center;
  line-height: 1.4;
}

header .icons .nav-icon {
  color: var(--color-surface);
  font-size: 20px;
}
nav {
  position: absolute;
  left: 0;
  top: 72px;
  width: 100%;
  max-width: 250px;
  z-index: 5;
  box-shadow: 3px 8px 13px var(--color-shadow);
}
nav::before {
  position: absolute;
  content: "";
  left: 15px;
  bottom: 99%;
  height: 0;
  width: 0;
  border: 12px solid;
  border-color: transparent transparent var(--color-surface);
}
nav ul {
  background-color: var(--color-surface);
  padding: 5px 0;
  border-radius: 4px;
}

nav ul li {
  padding: 15px 10px;
}
nav ul li a {
  color: var(--color-text-muted);
  transition: var(--main-transition);
  display: flex;
  font-weight: bold;
  font-size: 18px;
}
nav ul li a:hover {
  transform: translateX(-5px);
}
nav ul li:not(:last-child) {
  border-bottom: 1px solid var(--color-border);
}
.logo {
  display: block;
  height: 72px;
  width: 72px;
}
/* End Header */

/* Start categories */
.categories {
  margin-top: -1px;
  background-color: var(--color-accent);
  box-shadow: 0px 8px 8px var(--color-shadow);
}
.categories .container {
  padding-bottom: 25px;
  padding-top: 15px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 17px;
  overflow-x: auto;
  overflow-y: hidden;
  align-items: center;
  text-align: center;
}
header + p {
  color: white;
  height: 75px;
  margin-top: -1px;
  background-color: var(--color-accent);
  box-shadow: 0px 8px 8px var(--color-shadow);
  display: flex;
  align-items: center;
  justify-content: center;
}
.categories .container .category {
  width: 75px;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  box-shadow: 3px 8px 13px var(--color-shadow);
  background-color: var(--color-surface);
  color: var(--color-text-muted);
  font-size: 17px;
  font-weight: bold;
  font-style: italic;
  cursor: pointer;
  transition: var(--main-transition);
  transform: rotate(-10deg);
  flex-shrink: 0;
}
.categories .container .category:hover,
.categories .container .category.active {
  background-color: var(--color-text-muted);
  color: var(--color-surface);
  transform: rotate(-10deg) scale(1.1);
}
/* End categories */
